* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Kanit', sans-serif;
}

html {
    font-size: 100%;
}

body {
    margin: 0; 
    overflow-y: auto; 
    overflow-x: hidden; 
    width: 100%; 
    min-height: 100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    color: rgb(0, 0, 0); 
}  

header {
    width: 100%;
    padding: 1rem 9%;
    background-color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100;

    position:sticky;
    top:0;
}

.menu-toggle{
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
    color: #303E52;
}

.logo:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;   /* เว้นระยะระหว่างเมนู */
}

nav a {
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    color: #303E52;
}

nav a.active {
    color: #073580;
}
nav a:hover {
    color: #073580;
    border-bottom: 3px solid #073580;
}

.Home {
    background-color: #2F3D50;
    border-radius: 0;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin: 0px auto;
    width: 100%;
    /*max-width: 900px;*/
}

.Home h1 {
    font-size: 2.5rem;
}
.Home p {
    font-size: 1.2rem;
    color: rgb(224, 224, 224);
}

.Last-news {
    text-align: center;
    padding: 20px 20px;
}

.Last-news h3{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom:20px;
}

.news-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
    max-width:1600px;
    margin:auto;
}

.lastnew{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
    border: 1px solid #ddd;
    padding: 15px;
}


.lastnew:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
    
}

.lastnew img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.new-content {
    text-align: left;
    padding-left: 5px;
}

.new-content h3 {
    font-size: 1.2rem;
    margin-bottom:5px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;   /* จำกัด 2 บรรทัด */
    line-clamp: 2;  
    overflow: hidden;
}

.new-content p {
    font-size:1rem;
    color:#666;
    margin-bottom:30px;
}

.news-date{
    font-size:0.85rem;
    color:#666;
}

.Last-news h2 {
    background-color: #000000;
    color: #ffffff;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size:1rem;
    font-weight: 300;
    padding: 10px 20px;
    max-width: 150px;
    text-align: center;
    border-radius: 10px;
}

.Last-news h2:hover{
    background:#333;
    cursor:pointer;
}

/********************************************* 1200 ************************************************/
@media (max-width: 1200px) {

    header {
        padding: 1rem 5%;
    }

    .logo {
        font-size: 1.3rem;
    }

    nav {
        gap: 1rem;
    }

    nav a {
        font-size: 0.95rem;
    }

    .Home {
        padding: 40px 15px;
        margin: 0 auto;
    }

    .Home h1 {
        font-size: 1.8rem;
    }

    .Home p {
        font-size: 1rem;
    }

    .menu-toggle{
        display:block;
    }

    nav{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:white;

        flex-direction:column;
        align-items:center;
        gap:20px;

        padding:20px 0;

        display:none;
    }

    nav.active{
        display:flex;
    }

    .lastnew img{
        width:220px;
        height:auto;
    }

    .news-container .lastnew:nth-child(n+5) {
        display: none;
    }

    .Last-news h2{
        margin-top: 20px;
    }

    .Last-news {
        padding: 20px 20px;
    }
}

/********************************************* 768 ************************************************/

@media (max-width: 768px) {

    header {
        padding: 1rem 5%;
    }

    .logo {
        font-size: 1.3rem;
    }

    nav {
        gap: 1rem;
    }

    nav a {
        font-size: 0.95rem;
    }

    .Home {
        padding: 40px 15px;
        margin: 0 auto;
    }

    .Home h1 {
        font-size: 1.8rem;
    }

    .Home p {
        font-size: 1rem;
    }

    .menu-toggle{
        display:block;
    }

    nav{
        position:absolute;
        top:70px;
        left:0;
        width:100%;
        background:white;

        flex-direction:column;
        align-items:center;
        gap:20px;

        padding:20px 0;

        display:none;
    }

    nav.active{
        display:flex;
    }

    .Last-news h3 {
        font-size: 1.8rem;
    }

    .news-container{
        gap:5px;
    }

    .new-content h3{
        font-size: 1rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;   /* จำกัด 2 บรรทัด */
        line-clamp: 2;  
        overflow: hidden;
        margin-bottom:0px;
    }
    
    .new-content{
        flex: 1;
    }

    .new-content span{
        font-size: 0.7rem;
    }

    .new-content p {
        color:#666;
        margin-bottom:0px;
        font-size: 0.8rem;
    } 

    .lastnew{
        display: flex;
        gap: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        align-items: flex-start;
    }

    .lastnew img{
        width:120px;
        height:auto;
    }

    .Last-news h2{
        margin-top: 10px;
        margin-right: 0px;
    }
    .Last-news {
        padding: 20px 20px;
    }

    .news-container .lastnew:nth-child(n+4) {
        display: none;
    }

}

